/* ./assets/css/tailwind.css */
:root {
  --color-primary: #5c6ac4;
  --color-background: #461818;
  /* ... */
}

body {
  background-color: #fff;
}



@tailwind base;
@tailwind components;
@tailwind utilities;